RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

RewriteRule ^(.+)$ index.php?$1 [L,QSA]